<a href="https://colab.research.google.com/github/Caylie-Mackay/Data_Tech_Pyton_Final/blob/main/Final_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/movies_dataset.csv')
df

,MovieID,Title,Genre,ReleaseYear,ReleaseDate,Country,BudgetUSD,US_BoxOfficeUSD,Global_BoxOfficeUSD,Opening_Day_SalesUSD,One_Week_SalesUSD,IMDbRating,RottenTomatoesScore,NumVotesIMDb,NumVotesRT,Director,LeadActor
0,1,Might toward capital,Comedy,2003,28-09-2003,China,6577427.79,6613685.82,15472035.66,1778530.85,3034053.32,6.2,58.0,7865.0,10596.0,Kristina Moore,Brian Mccormick
1,2,He however experience,Comedy,1988,14-02-1988,USA,1883810.10,1930949.15,3637731.12,247115.74,831828.84,5.2,44.0,1708.0,220.0,Benjamin Hudson,Ashley Pena
2,3,Star responsibility politics,Comedy,1971,02-11-1971,USA,2468079.29,4186694.69,7165111.24,878453.95,2171405.93,5.5,55.0,4678.0,7805.0,Kayla Young,Alexander Haley
3,4,Exactly live,Comedy,1998,06-08-1998,USA,1447311.46,2023683.92,4373820.26,570657.72,898886.01,7.3,87.0,2467.0,1751.0,Michael Ross,Patrick Barnett
4,5,Focus improve especially,Documentary,2021,17-12-2021,India,900915.86,2129629.10,3113017.38,361189.37,861775.91,6.1,67.0,5555.0,697.0,Faith Franklin,Duane Fletcher DDS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499242,499243,Leader value knowledge,Romance,2013,09-01-2013,USA,2534736.42,3066049.14,7284463.46,540164.48,1460189.36,8.1,82.0,133.0,185.0,Joseph Willis,Rebecca Mejia
499243,499244,Him human,Action,2008,12-10-2008,China,4697743.49,2563865.29,4697743.49,568881.20,1211656.29,7.2,45.0,2039.0,372.0,Robert Webster,Jeffrey Holloway
499244,499245,Home door,Documentary,2010,19-12-2010,USA,2707994.72,2699035.73,5329329.82,354556.87,1109702.47,3.3,47.0,1297.0,1573.0,Samantha Campbell,Jamie Chavez
499245,499246,Generation kitchen street call,Romance,2012,07-05-2012,France,13803380.51,18299516.63,31055730.02,4656552.20,8979617.35,6.6,48.0,26147.0,6737.0,Brian Robinson,Laura Wilson
499246,499247,Second investment reality,Sci-Fi,1998,13-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_2 = pd.read_csv('/content/Salary_Data.csv')
df_2

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0